/* style.css */


    
   
    
   

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(
        90deg,
        rgba(65, 184, 131, 1) 0%,
        rgba(0, 212, 255, 1) 100%
        );
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

p {
    color: #666;
    font-size: 18px;
}

button {
    
    border-radius: 10px;
    color: white;
    background-color: #0056b3;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    font-weight:600;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 5px;
   
}
li {
    text-align: center;
    font-size: 18px;
    line-height:50px;
    margin-bottom: 10px;
    padding: 10px;
    max-width:85%;
    font-weight: 600;
    

    
} 
.container{
    border: 2px solid #fff;
    padding: 20px;
    padding-left:110px;

    width: 85%;
    min-width: 500px;

}
#tarefa, #placeholderConcatenar, #numeroOs,#responsavel, #dataVencimento, #dataVencimento,#prazoMaximo {
    /* Estilo para a caixa de entrada de texto */
    border: 2px solid #2416f0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color:rgba(0, 213, 255, 0.459)  ;
  
    /* Estilo para o texto do placeholder */
    ::placeholder {
      color: #999; /* Cor do texto do placeholder */
      
      font-style: italic; /* Estilo do texto do placeholder */
    }
  }

/* Botão de Prioridade Alta */
#prioridadeAlta {
    box-shadow: 1px 0px 5px black;
    background-color: red;
    color: white;
    font-weight: bold;
}

/* Botão de Prioridade Média */
#prioridadeMedia {
    box-shadow: 1px 0px 5px black;
    background-color: yellow;
    color: black; /* Altere a cor do texto conforme necessário */
    font-weight: bold;
}

/* Botão de Prioridade Baixa */
#prioridadeBaixa {
    box-shadow: 1px 0px 5px black;
    background-color: green;
    color: white;
    font-weight: bold;
}


button:hover {
    background-color: #0056b3;
    font-weight:800;
   

}

.prioridadeSelecionada {
    font-size: 20px;
}

.tarefaRealizada {
    background-color: blue;
    color: white;
}

.tarefaVencida {
    
    background-color: #34e797c4;
    border-radius: 30px;

}

.atrasada {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
}

/* style.css */

/* ... (seu código anterior) */

.rodape {
    background-color: #33333350; /* Cor de fundo do rodapé */
    text-align: center; /* Alinhar o texto ao centro */
    padding: 1px 1px; /* Espaçamento interno do rodapé */
    position: absolute; /* Colocar o rodapé no rodapé da página */
    bottom: 0; /* Fixar o rodapé na parte inferior */
    width: 100%; /* Largura total do rodapé */
}
.rodape p{
    font-size: 10px;
    color: #fff;
}

.rodape span a {
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
}


/* Remove o sublinhado de links visitados */
.rodape span a:visited {
    text-decoration: none;
}


